@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  overflow-x: hidden;

}

.img-w {
  width: 429px;

}

.p-bottom-right-left {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.img-h {
  height: 275;
}

.body {
  background-color: #CCCCCC;
}

.bg-white {
  background-color: #FFFFFF;
}

.w-50 {
  width: 50%;
}

.p-t-2rem {
  padding-top: 2rem;
}

.w-35 {
  width: 35%;
}

.bg-blue {
  background-color: #18A0FB;

}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 95%;
}

.h-10 {
  height: 22px;
}

.pl-pr {
  padding: 0 1rem;
}

.fn-1rem {
  font-size: 1rem;
}

.fn-5rem {
  font-size: 1.2rem;
}

.m-b-1rem {
  margin: 1.5rem 0;
}

.m-topBottm-75rem {
  margin: 0.75rem 0;
}

.p-allside-75rem {
  padding: 0.75rem;
}

.w-474 {
  width: 481px;
}

.boder-gray {
  border: 1x solid #C4C4C4;
}

input::placeholder {
  color: #C4C4C4;
  font-size: 1rem;
}

.p-topBottom-2rem {
  padding: 1rem 0;
}

.flex-start {
  /* display: flex;
  justify-content: start; */
  align-items: flex-start;
}

.text-start {
  text-align: start;
}

.p-top-bottom-1rem {
  padding: 1.5rem 0;
}

.text-start {
  text-align: start;
}

.w-45 {
  width: 45%;
}

.fw-400 {
  font-weight: 400;
}

.gray {
  color: #000000CC;
}

.bg-gray {
  background-color: #000000CC;
}

.white-gray {
  color: #FFFFFFCC;
}

.font-13px {
  font-size: 13px;
}

.font-18px {
  font-size: 1.1rem;
}

.w-40 {
  width: 40%;
}

.w-10 {
  width: 30px;

}

.flex-wrap {
  flex-wrap: wrap;
}

.mt {
  margin-top: 0.5rem;
}

.gap {
  gap: 1rem;
}

.ml {
  margin-left: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}


.mb {
  margin-bottom: 0.50rem;
}

.p-1rem {
  padding: 1rem;

}

input {
  outline: none;
}

.border {
  border: 2px solid #CCCCCC;
}

.w-237 {
  width: 237px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-50rem {
  padding: 0.50rem;
}


.black {
  color: #000000
}

.w-100px {
  width: 100px;
}

.w-130px {
  width: 130px;
}

.blue {
  color: #18A0FB;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px !important;
}

.m-0 {
  margin: 0;
}

.m-topBottom {
  margin: 1rem 0;
}

.p-t-1rem {
  padding-top: 2rem;
}

.p-b-1rem {
  padding: 2rem;
}

.p-t-b-1rem {
  padding: 1rem 0;
}

.border-blue {
  border: 2px solid #18A0FB;
}

.p {
  padding: 0.50rem;
}

.pl {
  padding-left: 0.50rem;
}

.pr {
  padding-right: 0.50rem;
}

.pt {
  padding-top: 0.50rem;
}

.pb {
  padding-bottom: 0.50rem;
}


.btn {
  background-color: #18A0FB;
  border-radius: 6px;
  color: #FFFFFF;

}

.border-radius-6 {
  border-radius: 6px;
}

.btn:hover {
  background-color: #18A0FB;
}

.white {
  color: #FFFFFF;
}

.flex {
  display: flex;

}

.w-100 {
  width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;

}

.flex-around {
  display: flex;
  justify-content: space-around;

}

.flex-colum {
  flex-direction: column;
}

.text-center {
  text-align: center;
}



.icon-styles {
  border-radius: 50%;
  background-color: #4B4B4B;
  padding: 0.50rem;
  font-size: 2rem;
}